<div class="container mb-2">
  <div class="container mt-2">
      <a type="button" href={% url 'place-create-view' %}?place={{place.pk}} class="btn btn-primary mb-2 col-12">
          {{btn_text}} {{place}}
      </a>
      <!-- <button type="button" class="btn btn-lg btn-primary col-12 mb-2 " >{{btn_text}} to {{place}}</button> -->
      <div class="row mb-2">
        <div class="col col-6">
          <a href="#" class="btn btn-primary col-12">edit {{place}}</a>
          <!-- <button type="button" class="btn btn-primary col-12 " >edit {{place}}</button> -->
        </div>
        <div class="col">
            <a href={% url "place-delete-view" place.pk %} class="btn btn-primary col-12 {{delete_button}}" role="button" aria-disabled="true">
                delete {{place}} ({{device_count}})
            </a>
            <!-- {% if device_count %} -->
                  <!-- <button type="button" class="btn btn-primary col-12 " disabled>delete {{place}} ({{device_count}})</button> -->
              <!-- {% else %}
                  <a href={% url "place-delete-view" place.pk %} class="btn btn-primary col-12" role="button">delete {{place}}</a>
            {% endif%} -->
        </div>
      </div>
      <a href={{ parent.get_absolute_url|default:"#" }} class="btn btn-outline-primary mt-2 col-12" role="button" aria-disabled="true">
          back to {{parent}}</a>
      <!-- <button type="button" href={{ parent.get_absolute_url }} class="btn btn-info mt-2 col-12" >back to {{parent}}</button> -->
    </div>
</div>
