{% load i18n %}


<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{% translate "name" %}: <i>{{jobsite.Name}} </i> </li>
    <li class="list-group-item">{% translate "description" %}: <i>{{ jobsite.Description }}</i></li>
    <li class="list-group-item">{% translate "address" %}: <i>{{ jobsite.Address }}</i></li>
    <li class="list-group-item">{% translate "owner" %}: <i>{{ jobsite.Owner }}</i></li>
  </ul>
</div>
    <!-- <li class="list-group-item">type: {{ object.Type}}</li> -->
<hr>
<!-- includes -->
<div class="container">
    {% include 'Places/show_places.html' %}<!-- start paginator buttons -->
    {% include 'Places/paginator.html'%}
</div>
{% include 'Places/add_edit_delete_buttons.html' %}
