{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
  {{ title }}
{% endblock %}


{% block content %}
  <h1>  {{ title }} </h1>
  <form method="post" class="form-register auth">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "create jobsite" button_type="submit" button_class="btn-primary w-100" %}
  </form>
{% endblock %}


{% block aside-block %}

  <img src="https://itproger.com/img/courses/1479108898.jpg" class="ímg-thumbnail mt-2">
  <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
  <a href="https://itproger.com/course/python" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>

  <img src="https://itproger.com/img/courses/1601651547.jpg"  class="ímg-thumbnail mt-4">
  <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
  <a href="https://zen.yandex.ru/media/steklo_skazka/vse-znaiut-chto-uggi-izobreli-v-avstralii-no-malo-kto-znaet-pochemu-izza-etogo-ia-by-ne-hotel-tam-jit-604f372a0a7d51654a6c39d9" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock %}
