{% extends 'base.html' %}
{% load bootstrap5 %}
{%  load i18n %}
{% block title %}
  {{title}}
{% endblock %}


{% block content %}
<!-- Places_list.html -->

{% include  'breadcrumb.html'%}
{{html_code|safe}}
<!-- buttons create devices -->
{% endblock content %}
{% block aside-block %}
<div class="container">
    <h6>
        {% translate "statistic"%}
    </h6>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">{% trans "places" %} : <i>{{all_places_qty}}</i> </li>
      <li class="list-group-item">{% trans "abstract" %} {% trans "places" %} : <i>{{abstract}}</i> </li>
      <li class="list-group-item">{% trans "not" %} {% trans "abstract" %} {% trans "places" %} : <i>{{not_abstract}}</i> </li>
     {% for key, value in statistic.items %}
         {% if  value %}
            <li class="list-group-item">{% translate key %} : <i>{{value}}</i> </li>
        {% endif %}
    {% endfor%}
  </ul>
</div>

{% endblock aside-block %}
