{% extends 'base.html' %}
{% load bootstrap5 %}
{% load i18n %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}
<!-- breadcrumb -->
{% include  'breadcrumb.html'%}

<div class="container">
  <h3>{% trans "delete" %} {{object}} </h3>
  <p>@ {{ parent.Name }}</p>

  <hr>

  <div class="container">
      {% for device in device_list %}
          {{device}}
      {% endfor %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{% trans "description" %}: <b>{{ object.Description }}</b></li>
      <li class="list-group-item">{% trans "type" %}: <b>{{ object.Type }}</b></li>

    <form method="post" class="mb-2">{% csrf_token %}
        <p>{% trans "Are you sure to delete" %} "{{ object.Name }}"?</p>
        <!-- <input type="submit" value="Confirm"> -->
        {% bootstrap_button submit_button_text button_type="submit" button_class="btn-warning w-100" %}
      </form>
    <a  type="button" href={{object.get_absolute_url}} class="btn btn-primary btn-block mt-2 w-100">{% trans "back to" %} {{ object }}</a>
    </ul>

  </div>
</div>






{% endblock %}
