{% load i18n %}
<!-- <p>Contains {{places|length}} places:</p> -->
{% for place in places %}

  <!-- <li class="list-group-item"> -->
    <div class="alert alert-light">
          <h6><a href="{% url 'place-view' place.pk %}">{{place}}</a></h6>
        <div>{% for p2p in place.places_place2place_Parent.all %}
            <p class="text-secondary small">
                {{forloop.counter}}. <i>{{p2p.Child}}</i>
            </p>
            {% endfor %}
        </div>

          <div class="btn-group">
              <a href="{% url 'place-view' place.pk %}" type="button" class="btn btn-warning">{% trans "Choose" %} {{place}}</a>
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" >
                <li><a class="dropdown-item" href="#" >Edit place</a></li>
                <li><a class="dropdown-item" href="#" >Delete place</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Floor place</a></li>
              </ul>
          </div>
    </div>
  <!-- </li> -->
{%empty%}
<!-- No place in <b>{{place}}</b> yet -->
    <div class="container">
        {% blocktranslate trimmed %}
            <p>No places in <i> {{place}} </i> yet</p>
        {% endblocktranslate %}
    </div>
{% endfor%}
<!-- {% include 'Places/paginator.html' %} -->
<!-- finish paginator battons -->
