{% load i18n %}

{% translate "building" %}
{% translate "room" %}
{% translate "power" %}
{% translate "Device" %}
{% translate "Cabinet" %}
{% translate "flat" %}
{% translate "outdoor place" %}
{% translate " wire to device" %}
{% translate " wire from device" %}
{% translate "outdoor" %}
{% translate "stage" %}
{% translate "audio ability" %}
{% translate "power distribution ability" %}
{% translate "cabinet with control ability" %}
{% translate "cabinet with network ability" %}
{% translate "sattelite TV" %}
